{% extends 'base.html' %}

{% block content %}
<h5>Username: </h5>
<b>{{username}}</b>

<button><a href="{% url 'todolist:add_task' %}">Logout</a></button>


<table>
    <tr>
    <th>Tanggal Dibuat</th>
    <th>Judul</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in list_task %}
    <tr>
        <th>{{task.date}}</th>
        <th>{{task.title}}</th>
        <th>{{task.description}}</th>
    </tr>
    {% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
{% endblock content %}