{% extends 'base.html' %}

{% block meta %}
<title>Todolist</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

{% endblock meta %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<h5>Username: </h5>
<b>{{username}}</b>
<br> <br>
<button><a href="{% url 'todolist:add_task' %}">Add Task</a></button>


<table>
    <tr>
    <th>Tanggal Dibuat</th>
    <th>Judul</th>
    <th>Deskripsi</th>
    <th>Status</th>
    <th>Actions</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in list_task %}
    <tr>
        <th>{{task.date}}</th>
        <th>{{task.title}}</th>
        <th>{{task.description}}</th>
        {% if task.is_finished %}
            <th>Done</th>
        {% else %}
            <th>In Progress</th>
        {% endif %}
        <th>
            <form method="post" action="{% url "todolist:toggle-task" task.id %}" >
                {% csrf_token %}
                <button class="btn btn-info btn-sm" type="submit" name="toggle_done">
                    {% if task.is_finished %} Mark Not Done {% else %} Mark Done {% endif %}
                </button>
            </form>
            <form method="post" action="{% url "todolist:delete-task" task.id %}" >
                {% csrf_token %}
                <button class="btn btn-info btn-sm" type="submit" name="toggle_done">
                    Delete
                </button>
            </form>
        </th>
    </tr>
    {% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
{% endblock content %}